@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* All asides */
aside{
	font-style: italic;
}
/* End all asides */

/* All poems */
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End All poems */

/* All dedications */
section[epub|type~="dedication"],
blockquote[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *,
blockquote[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"],
	blockquote[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *,
	blockquote[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End All dedications */

/* Explicit */
#chapter-40 p:last-child{
	display: block;
	margin-top: 1em;
	text-align: center;
	text-indent: 0;
}
/* End Explicit */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}
/* End all epigraphs */

/* All footers */
footer{
	margin-top: 1em;
	text-align: right;
}
/* End All footers */

/* Page breaks */
#foreword header,
section[epub|type~="part"]{
	break-after: page;
}
/* End Page breaks */
